/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';
@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Roboto Mono, monospace',
  $headline: mat-typography-level(32px, 48px, 900),
  $body-1: mat-typography-level(16px, 24px, 300)
);

@include angular-material-typography($custom-typography);

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto Mono', monospace; height: 100vh; }
.square-card {
  border-radius: 0 !important;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  height: 100%;
  width: 80%
}